@import '../../abstracts/variables';
@import 'toggle.scss';
.List {
    padding: 10px;
    text-align: center;
    .filter_area {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        margin: 0 0 10px 0;
        @media screen and (min-width: $break-large) {
            flex-direction: row;
        }
        a.sort_filter_link {
            @include sort-filter;
            width: 100%;
            float: right;
            display: flex;
            align-items: center;
            justify-content: right;
            text-align: right;
            margin: 0;
            @media screen and (min-width: $break-large) {
                float: left;
                justify-content: left;
                text-align: left;
                display: inline-block;
                width: 20%;
            }
        }
        .main_title {
            width: 60%;
            @include main-title;
            display: inline-block;
            margin: 0 0 10px 0;
            @media screen and (max-width: $break-large) {
                font-size: 16px;
                width: 100%;
            }
            img {
                height: 35px;
                border: 1px solid $light-grey;
                vertical-align: middle;
                margin-right: 20px;
                @media screen and (max-width: $break-large) {
                    height: 15px;
                }
            }
        }
        a.sort_filter_card {
            @include sort-filter;
            width: 20%;
            float: right;
            display: flex;
            align-items: center;
            justify-content: right;
            @media screen and (max-width: $break-large) {
                display: none;
            }
            p {
                display: inline-block;
                margin: 0 10px 0 0;
            }
        }
    }
    .items {
        display: block;
    }
    .box_items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    a.view_more {
        @include view_more;
    }
}