@import '../../variables.scss';
@import 'toggle.scss';
.List {
    padding: 10px;
    text-align: center;
    .filter_area {
        a.sort_filter_link {
            @include sort-filter;
            width: auto;
            float: right;
            display: flex;
            align-items: center;
            @media screen and (min-width: $break-large) {
                float: left;
            }
        }
        a.sort_filter_card {
            @include sort-filter;
            width: auto;
            float: right;
            display: flex;
            align-items: center;
            @media screen and (max-width: $break-large) {
                display: none;
            }
            p {
                display: inline-block;
                margin: 0 10px 0 0;
            }
        }
        width: 100%;
        display: inline-block;
        margin: 0 0 10px 0;
    }
    .items {
        display: block;
    }
    .box_items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    a.view_more {
        @include view_more;
    }
}