@import '../../variables.scss';
.List {
    .filter_area {
        a.sort_filter_link {
            @include sort-filter-link;
            float: right;
            @media screen and (min-width: $break-large) {
                float: left;
            }
        }
        width: 100%;
        display: inline-block;
        margin: 0 0 10px 0;
    }
    .items {
        display: block;
    }
    .box_items {
        display: flex;
        justify-content: space-between;
    }
    padding: 10px;
}