@import '../../variables.scss';
.Result {
    .result_card {
        @mixin box-animation {
            transition: all .2s;
            transition-timing-function: $cubic-beizer;
        }
        @mixin center {
            display: flex;
            align-items: center;
        }
        @mixin common-card-part($width) {
            width: $width;
            height: 100%;
            float: left;
            @include center;
        }
        width: 100%;
        height: 56px;
        border-radius: 8px;
        box-shadow: 0 3px 12px 0 $black-20;
        background-color: #ffffff;
        margin-bottom: 10px;
        @include box-animation;
        &:hover {
            transform: scale(1.015);
            @include box-animation;
        }
        .position_indicator {
            @include common-card-part(15%);
            justify-content: center;
            p {
                @include position-indicator;
                text-align: center;
                margin: 0;
            }
        }
        .company_logo {
            @include common-card-part(32%);
            a {
                height: 100%;
                width: 100%;
                float: left;
                @include center;
                img {
                    height: calc(100% - 30px);
                    max-width: 100%;
                }
            }
        }
        .review_link {
            @include common-card-part(22%);
            justify-content: center;
            p {
                margin: 0;
                a {
                    @include review-link;
                }
            }
        }
        .info {
            @include common-card-part(19%);
            flex-direction: column;
            justify-content: center;
            .info_wrapper {
                p.type_indicator {
                    @include type-indicator;
                    margin: 0;
                }
                p.amount {
                    @include amount;
                    margin: 0;
                }
            }
        }
        .expand {
            @include common-card-part(12%);
            background-color: $orangey-red;
            border-radius: 0 8px 8px 0;
            background-image: url('../../assets/icons/right.svg');
            background-repeat: no-repeat;
            background-size: 20px;
            background-position: center;
        }
    }
}